{% extends "base.html" %}
{% block main %}
<div>
  <h1>Add tracks to {{ wikidata_link(item_id) }}</h1>
  <h3>{{ item_name }}</h3>
  {% if performer_name != None %}
    <h4>Performer: {{ performer_name }} ({{ wikidata_link(performer_item_id) }})</h4>
  {% endif %}
</div>
<br/>
{% if csrf_error %}
<div class="alert alert-warning">
  There was an error processing your request
  (<abbr title="cross-site request forgery">CSRF</abbr> protection failed).
  Please try submitting the form again.
</div>
{% endif %}

{% if errors != None %}
<div class="alert alert-danger">
  {{ ','.join(errors) }}
</div>
{% else %}
<form action="{{ url_for('album_post', item_id=item_id) }}" method="POST">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

  <div class="form-group">
    <label for="tracklist">Track list</label>
    <textarea class="form-control" id="tracklist" name="tracklist" rows="10" aria-describedby="tracklistHelp" required></textarea>
    <small id="tracklistHelp" class="form-text text-muted">Track names need to be separated by linebreaks.</small>
  </div>

  <div class="form-group mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="performer">Performer QID</span>
      </div>
      <input type="text" class="form-control" id="performer-qid" name="performer_qid" aria-describedby="performer" value="{{ performer_item_id }}">
    </div>
    <small id="performerHelp" class="form-text text-muted">Just the numeric ID. If left empty, no performer will be added to track items.</small>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="include_track_numbers" name="include_track_numbers" checked>
    <label class="form-check-label" for="include_track_numbers">Include track numbers as qualifiers</label>
  </div>
  <button type="submit" class="btn btn-primary">Create tracklist</button>
</form>
{% endif %}

{% endblock %}
