{% extends "base.html" %}
{% block main %}
<div class="mt-4">
  <h1>Add tracks to {{ wikidata_link(item_id) }}</h1>
  <h3 class="album-name">{{ item_name }}</h3>
  {% if performer_name != None %}
    <h4>Performer: {{ performer_name }} ({{ wikidata_link(performer_item_id) }})</h4>
  {% endif %}
</div>
<br/>
{% if csrf_error %}
<div class="alert alert-warning">
  There was an error processing your request
  (<abbr title="cross-site request forgery">CSRF</abbr> protection failed).
  Please try submitting the form again.
</div>
{% endif %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class='flashes'>
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</li>
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% if warnings|length != 0 %}
  {% for warning in warnings %}
    <div class="alert alert-warning">
      {{ warning }}
    </div>
  {% endfor %}
{% endif %}

{% if missing == True %}
<div class="alert alert-danger">
  Item Q{{item_id}} does not exist on Wikidata
</div>
{% else %}

<form action="{{ url_for('album_post', item_id=item_id) }}" method="POST">
  <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">

  <div class="form-group">
    <label for="track_type">Type of tracks</label>
    <select class="form-control" id="track_type" name="track_type" aria-describedby="trackTypeHelp">
      <option value="music_track_with_vocals" selected>Music track with vocals</option>
      <option value="music_track_without_vocals">Music track without vocals</option>
      <option value="audio_track">Audio track</option>
    </select>
    <small id="trackTypeHelp" class="form-text text-muted">The 'instance of' to use for the track items that are created.</small>
  </div>

  <!-- Picker for track description language -->
  <div class="form-row">
    <div class="form-group col-md-3">
      <label for="track_description_language">Description language code</label>
      <input type="text" class="form-control" id="track_description_language" name="track_description_language" required value="en">
    </div>
    <div class="form-group col-md-9">
      <label for="track_description">Track description</label>
      <input type="text" class="form-control" id="track_description" name="track_description" aria-describedby="trackDescriptionHelp" required>
      <small id="trackDescriptionHelp" class="form-text text-muted">
        The description for the track items. This will be reused for each track in the tracklist, so it should apply to them all.
      </small>
    </div>
  </div>

  <div class="form-group">
    <label for="tracklist">Tracklist</label>
    <textarea class="form-control" id="tracklist" name="tracklist" rows="10" aria-describedby="tracklistHelp" required></textarea>
    <small id="tracklistHelp" class="form-text text-muted">
      Track names need to be separated by linebreaks. Each line can also optionally include the duration and <a href="https://isrc.soundexchange.com/" target="_blank">ISRC</a> separated by pipes, for example <code>Emotion|3:17|USUM71507024</code>.
    </small>
  </div>

  <div class="form-group mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="performer">Performer QID</span>
      </div>
      <input type="text" class="form-control" id="performer-qid" name="performer_qid" aria-describedby="performer" value="{{ performer_item_id }}" pattern="Q?\d+">
    </div>
    <small id="performerHelp" class="form-text text-muted">Can be in the format of "Q123" or "123". If left empty, no performer will be added to track items.</small>
  </div>

  <div class="form-group mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="recorded_at">Recorded at studio or venue QID</span>
      </div>
      <input type="text" class="form-control" id="recorded-at-qid" name="recorded_at_qid" aria-describedby="recorded_at" pattern="Q?\d+">
    </div>
    <small id="recordedAtHelp" class="form-text text-muted">Can be in the format of "Q123" or "123". If left empty, no recording location will be added to track items.</small>
  </div>

  <div class="form-group mb-3">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="producer">Producer QID</span>
      </div>
      <input type="text" class="form-control" id="producer-qid" name="producer_qid" aria-describedby="producer" pattern="Q?\d+">
    </div>
    <small id="producerHelp" class="form-text text-muted">Can be in the format of "Q123" or "123". If left empty, no producer will be added to track items.</small>
  </div>

  <div class="form-group">
    <!-- TODO: Eventually use mul for lavels and just have this represent the title property only. -->
    <label for="language">Title language code</label>
    <input type="text" class="form-control" id="language" name="language" aria-describedby="languageHelp" required value="en">
    <small id="languageHelp" class="form-text text-muted">The language code of the title property and label used for the individual track items. For example, <code>en</code>, <code>es</code>, <code>fr</code>, etc.</small>
  </div>

  <!-- Picker for live vs studio recordings -->
  <div class="form-group">
    <label for="track_type">Type of recordings</label>
    <select class="form-control" id="recording_type" name="recording_type" aria-describedby="recordingTypeHelp">
      <option value="none" selected></option>
      <option value="studio_recording">Studio recording</option>
      <option value="live_recording">Live recording</option>
    </select>
    <small id="recordingTypeHelp" class="form-text text-muted">Whether the tracks should be marked as studio recordings or live recordings. If you have a mix of types in the album, or if you do not know, leave this blank.</small>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="include_track_numbers" name="include_track_numbers" checked>
    <label class="form-check-label" for="include_track_numbers">Include track numbers as qualifiers</label>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="include_durations_as_qualifiers" name="include_durations_as_qualifiers" checked>
    <label class="form-check-label" for="include_durations_as_qualifiers">Include durations as qualifiers</label>
  </div>

  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="create_work_or_composition_items" name="create_work_or_composition_items">
    <label class="form-check-label" for="create_work_or_composition_items">Create musical work/composition items for each track</label>
  </div>
  
  <button type="submit" class="btn btn-primary mb-5">Create tracklist</button>
</form>
{% endif %}
{% endblock %}
