{% extends "base.html" %}
{% block main %}
<h1 class="mt-5">Multi-track Drafting</h1>
<div class="mx-auto mt-5" style="width: 60%;">
  <img
    src="https://i.kym-cdn.com/photos/images/original/000/010/773/DenshaDeD_ch01p16-17.png"
    width="100%"
    alt="An image from a parody manga which features two panels. The top panel is a train car riding on two tracks simultaneously. The bottom panel is a close-up on a surprised man's face, with sweat dripping down it. A text bubble next to the man's face says 'Multi-track drifting!!'."
    />
</div>
<form action="{{ url_for('album_redirect') }}" method="POST" class="mb-3 mt-5 mx-auto col-5">
  <div class="input-group">
    <input type="text" class="form-control" id="item_id" name="item_id" placeholder="Q1234" aria-label="Item ID" aria-describedby="itemIdHelp" required>
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Go</button>
    </div>
  </div>
  <small id="itemIdHelp" class="form-text text-muted">Enter the QID of an item you want to add tracks to.</small>
</form>
{% endblock %}
